# My Console App
myconsoleapp/bin/
myconsoleapp/obj/

# My Web App - Empty
mywebapp/bin/
mywebapp/obj/

# My Razor Web App - Razor
myrazorapp/bin/
myrazorapp/obj/

# My Web App - MVA
myMVA/bin/
myMVA/obj/

# My Web API
mywebapi/bin/
mywebapi/obj/

# My Web Middleware
myMiddleware/bin/
myMiddleware/obj/