# My Console App
myconsoleapp/bin/
myconsoleapp/obj/

# My Web App - Empty
mywebapp/bin/
mywebapp/obj/

# My Razor Web App - Razor
myrazorapp/bin/
myrazorapp/obj/

# My Razor Web App - Razor
myMVA/bin/
myMVA/obj/