@page
@model myrazorapp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in IndexModel.Customers){
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</form>
